{% if firewall.v6.enable %}
{%     if firewall.v6.bogon.network_group is defined %}
# Bogons networks V6
set firewall group ipv6-network-group {{ firewall.v6.bogon.network_group }} description '{{ firewall.v6.bogon.description }}'
{%         for prefix in firewall.v6.bogon.prefixes -%}
set firewall group ipv6-network-group {{ firewall.v6.bogon.network_group }} network {{ prefix }}
{%         endfor -%}
{%     endif -%}

{%     if firewall.v4.ssh.network_group is defined -%}
# SSH networks V6
set firewall group ipv6-network-group {{ firewall.v6.ssh.network_group }} description '{{ firewall.v6.ssh.description }}'
{%         for prefix in firewall.v6.ssh.prefixes -%}
set firewall group ipv6-network-group {{ firewall.v6.ssh.network_group }} network {{ prefix }}
{%-         endfor %}
{%     endif %}
{% endif %}